.itemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ffffff;
}

.itemButton {
  background: none;
  border: none;
}

.itemButton:hover {
  cursor: pointer;
}
