.appContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: start;
  position: relative;
  background-color: #111318;
}

.menuButton {
  position: absolute;
  background: none;
  border: none;
  color: #aac7ff;
  top: 1rem;
  left: 1rem;
}

.menuButton:hover {
  cursor: pointer;
}
